*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/jniLibs/*
!app/src/main/jniLibs/*/libandroid_dlib.so



app/libs/unity-classes.jar
app/src/main/assets/bin/*